*.elc
/.emacs.desktop
/elpa
/.bookmarks.el
/eshell
ac-comphist.dat
.smex-items
/custom.el
*~
rake.cache
/snippets/objc-mode/
/bookmarks
/games
/projectile-bookmarks.eld
/.emacs.desktop.lock
/url
recentf
/.ac-html
ido.last
/.mc-lists.el
/.cask
/private
tramp
/sounds
/orgs
/var
/.org-id-locations

# Ede projects file
/ede-projects.el
# Semanticdb
/semanticdb/
# irony I just want to keep it
# /irony