*.elc
/etc/*
/.emacs.desktop
/elpa
/etc/.bookmarks.el
/etc/eshell
/etc/ac-comphist.dat
/etc/.smex-items
/custom.el
*~
rake.cache
/snippets/
/etc/bookmarks
/games
/projectile-bookmarks.eld
/.emacs.desktop.lock
/url
recentf
/.ac-html
ido.last
/etc/ido.hist
/etc/projectile-bookmarks.eld
/etc/.mc-lists.el
/.cask
/private
tramp
/sounds
/org
/var
/etc/.org-id-locations
# Ede projects file
/etc/ede-projects.el
# Semanticdb
/etc/semanticdb/
# irony I just want to keep it
# /irony